@mixin grid ($gutter:1em, $direction: row) {

    width: 100%;

    display: flex;
    flex-direction: $direction;

    padding: ( $gutter / 2);

    & > * {
        display: block;
        flex: 1 1 auto;

        padding: ( $gutter / 2);
    }

}

@mixin width ($fraction, $media:"") {
    @include break($media) {
        flex: 0 0 ($fraction * 100%);
    }
}

@mixin gobble ($strength, $media:"") {

    $value: 2;

    @if $strength != 1 {
        @for $n from 2 through $strength {
            $value: $value * 2;
        }
    }

    @include break($media) {
        flex-grow: $value;
    }
}
