@mixin breakpoint($parameters){

    $query: 'screen and ';

    @each $variable, $value in $parameters {
        $query: $query + '(' + $variable + ':' + $value + ') and ';
    };

    $query: str-slice($query, 0, -5);

    @media #{$query} { @content; };
}

@mixin break($media) {
    @if $media != "" {
        @include breakpoint($media) {
            @content;
        }
    } @else {
        @content;
    }
}

@function media-until($size) {
    @return (max-width: $size);
}

@function media-from($size) {
    @return (min-width: $size);
}

@function media-between($min-size, $max-size) {
    @return (min-width: $min-size, max-width: $max-size);
}

@mixin hide($medias) {
    @if length($medias) == 1{
        @include break($medias) {
            display: none;
        }
    } @else {
        @each $media in $medias {
            @include break($media) {
                display: none;
            }
        }
    }
}

@mixin show($medias) {
    display: none;

    @if length($medias) == 1{
        @include break($medias) {
            display: block;
        }
    } @else {
        @each $media in $medias {
            @include break($media) {
                display: block;
            }
        }
    }
}

@mixin respond() {
    $active: #{nth(&, -1)};
    @if $active == 'img' {
        width: 100%;
        height: auto;
    } @else if $active == 'table' {
        display: block;
        overflow-x: auto;
    }
}
