@mixin horizontal-menu ($alignment: flex-start) {
    display: flex;
    justify-content: $alignment;
    position: relative;

    & > li {
        display: inline-block;

        ul {
            position: absolute;
            display: none;
        }
    }

    & > li:hover {

        ul {
            display: block;
        }
    }
}

@mixin vertical-menu () {
    position: relative;
    display: inline-block;

    & > li {

        ul {
            position: absolute;
            top: 0px;
            margin-left: 100%;

            display: none;
        }
    }

    & > li:hover {

        ul {
            display: block;
        }
    }
}
