* {
    margin: 0;
    padding: 0;
}

*, *:after, *:before {
    box-sizing: border-box;
}

@import "grid";
@import "responsive";
@import "alignment";

$mobile: media-until(500px);
$desktop: media-from(501px);

#container {
}

#grid {
    @include grid($media:$desktop);
    @include grid($media:$mobile, $direction: column);
}

#one {
    background-color: red;
}

#two {
    background-color: green;
}

#three {
    background-color: blue;
}

p{
    background-color: yellow;
}

#two {
    @include width(1/2, $desktop);
}

#one {
    @include hide($mobile);
}

img {
    @include respond();
}

table {
    @include respond();
}
