@import "reset";

@import "grid";
@import "responsive";
@import "alignment";

@import "impure-vars";
@import "typography";

$tablet: media-from(481px);
$desktop: media-from(769px);

$heading-font: 'Patua One', sans-serif;
$body-font: 'Raleway', sans-serif;

$text-colour: #1d1d1d;
$background-colour: #f1f1f1;

$vanilla: #FFCAB1;
$chocolate: #8C602F;
$strawberry: E68DA7;

body {
    background-color: $background-colour;
    font-family: $body-font;
}

main {
    @include center(450px, $tablet);
    @include center(750px, $desktop);

    padding: 1rem;
    color: $text-colour;
}

header {
    color: white;
    text-align: center;

    small {
        display: block;
    }

    @include grid($gutter: 0rem);

    .vanilla {
        @include width(1);
        @include width(1/2, $media: $tablet);
        padding-bottom: 1rem;

        h1 {
            font-size: type-scale($type-ratio, 7);
            font-family: $heading-font;
        }

        h2 {
            font-size: type-scale($type-ratio, 4);
        }
    }

}

ul {
    @include grid($direction: column);
    @include grid($direction: row, $media: $tablet);
    @include grid($direction: row, $media: $desktop, $gutter: 2em);
}

.strawberry {
    background-color: $strawberry;
}

.vanilla {
    background-color: $vanilla;
}

.chocolate {
    background-color: $chocolate;
}
