/// A function which provides a type scale based on the given ratio, to create
/// consistent font sizing. The default size (`$level: 1`) is 1rem.
///
/// @group typography
///
/// @parameter {number} $ratio The type ratio, such as the golden ratio of
/// 1.618, to be used in calculation.
///
/// @parameter {integer} $level The level of type to be used, from 1 to
/// infinity.
///
/// @returns {size} The calculated font size.
///
/// @example scss
///     h1 {
///         font-size: type-scale($ratio: 1.618, $level: 6);
///     }

@function type-scale($ratio, $level) {
    $base: 1rem;

    @if $level == 1{
        @return $base;
    } @else if $level > 1 {
        @for $i from 1 through ($level - 1) {
            $base: $base * $ratio;
        }
    } @else {
        @for $i from $level through 0 {
            $base: $base / $ratio;
        }
    }

    @return $base;
}
