$type-basis: 1rem;

@function type-scale($ratio, $level, $base: $type-basis) {
    $base: 1rem;

    @if $level == 1{
        @return $base;
    } @else if $level > 1 {
        @for $i from 1 through ($level - 1) {
            $base: $base * $ratio;
        }
    } @else {
        @for $i from $level through 0 {
            $base: $base / $ratio;
        }
    }

    @return $base;
}
