@mixin horizontal-menu ($alignment: flex-start) {
    display: flex;
    justify-content: $alignment;
    position: relative;

    & > li {
        display: inline-block;

        ul {
            position: absolute;
            display: none;
        }
    }

    & > li:hover {

        ul {
            display: block;
        }
    }
}

@mixin vertical-menu () {
    position: relative;
    display: inline-block;

    & > li {

        ul {
            position: absolute;
            top: 0px;
            margin-left: 100%;

            display: none;
        }
    }

    & > li:hover {

        ul {
            display: block;
        }
    }
}

@mixin overlay ($direction: "bottom", $spacing: 0%) {
    position: relative;

    & > * {
        display: none;
        position: absolute;

        @if $direction == "bottom" {
            left: 0;
            top: 100% + $spacing;
        } @else if $direction == "top" {
            left: 0;
            bottom: 100% + $spacing;
        } @else if $direction == "right" {
            left: 100% + $spacing;
            top: 0;
        } @else if $direction == "left" {
            right: 100% + $spacing;
            top: 0;
        }
    }

    &:hover > * {
        display: block;
    }
}

